[user]
	email = george@wils.online
	name = George Wilson
[push]
	default = simple
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %d %s\" --all --date=short
	co = checkout
	dc = diff --cached
	d = log -n1 -p
	ln = log --name-only
	lns = log --name-status
	s = status --short --branch
	ss = status --short --branch --untracked=no
	unstash = stash pop	
	gpush = !git push --set-upstream gwils `git rev-parse --abbrev-ref HEAD`
	upush = !git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`
	push-all    = !sh -c 'git push --all && git push --tags' --
	clon = clone --recursive

[core]
	excludesfile = /home/gwilson/.gitignore_global
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
